/* css/debugPanel.css */

/* Debug-Button */
#floatingDebugBtn {
  position: fixed;
  bottom: 16px;
  right: 16px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  /* zentriert das Icon innerhalb der Fläche */
  display: flex;
  align-items: center;
  justify-content: center;
  /* verhindert Subpixel-Verschiebung */
  transform: translateZ(0);
}


/* Debug-Panel */
#floatingDebugPanel {
  position: fixed;
  bottom: 72px;
  right: 16px;
  width: 300px;
  max-height: 400px;
  background: rgba(255, 255, 255, 0.9); /* leicht transparent */
  color: #333;      /* dunkle Schrift */
  font-family: monospace;
  font-size: 12px;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.5);
  display: none;
  flex-direction: column;
  overflow: hidden;
  z-index: 1000;
  animation: slideIn 0.2s ease-out;
}

#floatingDebugPanel.open {
  display: flex;
}

#floatingDebugPanelHeader {
  background: #7907a7ef;
  color: #fff;
  font-weight: bold;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#floatingDebugPanelClose {
  background: transparent;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

#floatingDebugContent {
  padding: 8px;
  overflow-y: auto;
  flex: 1;
}

/* Slide-in Animation */
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(12px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
